.header_root {
  flex-grow: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.header_typography {
  flex: 1;
}

.header_typography a {
  color: inherit;
  text-decoration: none;
}

.header_bar {
  background-color: transparent;
  box-shadow: none;
}
.header_barFixed {
  background-color: rgba(33, 33, 33, 0.9);
  position: fixed;
  top: 0;
}

.header_menuButton {
  margin-left: -12px;
  margin-right: 20px;
}

.header_github {
  fill: #fff;
}

.header_link {
  line-height: 0;
}
