.post {
  margin: 0 auto 90px;
  padding-bottom: 100px;
  width: 80%;
}
.post_wapper {
  position: relative;
  display: block;
  padding-left: 140px;
  word-wrap: break-word;
}

.post_detail::before {
  content: '';
  height: 100%;
  position: absolute;
  width: 1px;
  left: 59px;
  top: 25px;
  display: block;
  background: rgba(68, 68, 68, 0.1);
}

.post_titile {
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2;
  cursor: pointer;
}

.post_titile:hover {
  color: #009688;
}

.post_wapper a {
  color: inherit;
  text-decoration: none;
}

.post_info {
  margin-top: 12px;
  margin-bottom: 30px;
  font-size: 13px;
  color: #888888;
}

.post_info div {
  display: inline-block;
  vertical-align: top;
}

.post_author_name {
  cursor: pointer;
}

.post_author_name:hover {
  text-decoration: underline;
  color: #333;
}

.post_date {
  position: absolute;
  color: #6d6d6d;
  left: -40px;
  top: 0;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 300;
  margin-top: 0.5rem;
}

.post_date::after {
  content: '';
  position: absolute;
  height: 11px;
  width: 11px;
  display: block;
  border-radius: 50%;
  left: 94px;
  top: 17px;
  z-index: 2;
  background: #009688;
}

.post_date_day {
  color: #009688;
  display: block;
  font-size: 60px;
  line-height: 50px;
  font-weight: 400;
  text-align: center;
}

.post_date_month {
  color: #333;
  font-weight: 700;
  font-size: 14px;
  line-height: 30px;
}

.post_date_year {
  color: #333;
  font-weight: 700;
  font-size: 14px;
  line-height: 40px;
}

.post_content {
  position: relative;
  margin-bottom: 10px;
  color: #444;
  height: 120px;
  line-height: 30px;
  overflow: hidden;
}

.post_content::after {
  content: '';
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 90%;
  height: 30px;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1) 50%
  );
}

.post_footer {
  margin-top: 90px;
  text-align: right;
}

.post_footer_btn {
  border: 1px solid #f50057;
}

@media only screen and (max-width: 767px) {
  .post_date {
    display: none;
  }

  .post_wapper {
    width: 100%;
    padding-left: 0;
  }

  .post_detail::before {
    display: none;
  }
}

.post_title {
  position: relative;
  margin: 0 0 70px;
  padding-bottom: 30px;
}

.post_title::after {
  content: '';
  height: 1px;
  width: 50px;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -25px;
  background: #333;
  background: rgba(51, 51, 51, 0.2);
}

.post_paginate {
  display: block;
  padding: 10px 0 25px;
  text-align: left;
}

.post_paginate ul {
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
}

.post_paginate li {
  display: inline-block;
}

.post_paginate_active a {
  color: #fff;
  background: #52c7b8;
}

.post_paginate li a {
  display: block;
  float: left;
  margin-right: 6px;
  padding: 0 18px;
  border: 1px solid #009688;
  text-transform: uppercase;
  line-height: 40px;
  font-weight: 700;
  color: #333;
  font-weight: 700;
  font-size: 14px;
  text-decoration: none;
  cursor: pointer;
}

.post_paginate li a:hover,
.post_paginate li a:active {
  color: #fff;
  background: #52c7b8;
}

.post_paginate_icon {
  width: 20px;
  height: 40px;
  line-height: 42px;
  display: block;
}

.post_paginate_disabled a {
  background-color: #ccc;
  border: 1px solid #ccc;
  cursor: default;
}

.post_paginate_disabled svg {
  color: #eee;
}

.post_paginate_disabled:hover a {
  background-color: #ccc;
  border: 1px solid #ccc;
}
