.container {
    width: 30%;
    height: 300px;
    background-color: rgba(41, 167, 189, 0.514);
    border-radius: 10px;
    box-shadow: 1px 1px 4px 1px rgba(244,244,244,.8);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
}