.container_main {
  margin-top: -10vh;
  margin-bottom: 10vh;
  flex-shrink: 0;
}

.container_box {
  max-width: 1170px;
  width: 90%;
  margin: 0 auto;
}

@media only screen and (max-width: 1060px) {
  .container_box {
    max-width: 90%;
  }
}
@media only screen and (max-width: 767px) {
  .container_box {
    max-width: 100%;
    width: 100%;
    margin: 0;
    box-shadow: none;
  }

  .container_context {
    box-shadow: none;
    border-radius: 0;
  }
}
.container_context {
  min-height: 300px;
  padding: 120px 10%;
}

.container_title {
  position: relative;
  margin: 0 0 70px;
  padding-bottom: 30px;
}

.container_title::after {
  content: "";
  height: 1px;
  width: 50px;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -25px;
  background: #333;
  background: rgba(51, 51, 51, 0.2);
}

.container_paginate {
  display: block;
  padding: 10px 0 25px;
  text-align: left;
}

.container_paginate ul {
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
}

.container_paginate li {
  display: inline-block;
}

.container_paginate_active a {
  color: #fff;
  background: #52c7b8;
}

.container_paginate a {
  display: block;
  float: left;
  margin-right: 6px;
  padding: 0 18px;
  border: 1px solid #009688;
  text-transform: uppercase;
  line-height: 40px;
  font-weight: 700;
  color: #333;
  font-weight: 700;
  font-size: 14px;
  text-decoration: none;
  cursor: pointer;
}

.container_paginate a:hover,
.container_paginate a:active {
  color: #fff;
  background: #52c7b8;
}

.container_paginate_icon {
  width: 20px;
  height: 40px;
  line-height: 42px;
  display: block;
}

.container_paginate_disabled a {
  background-color: #ccc;
  border: 1px solid #ccc;
  cursor: default;
}

.container_paginate_disabled svg {
  color: #eee;
}

.container_paginate_disabled:hover a {
  background-color: #ccc;
  border: 1px solid #ccc;
}
