.container_main {
  margin-top: -10vh;
  margin-bottom: 10vh;
  flex-shrink: 0;
}

.container_box {
  max-width: 1150px;
  width: calc(100% - 16px);
  margin: 0 auto;
}

.container_context {
  min-height: 1488px;
  padding: 120px 5%;
}
