.container_main {
  margin-top: -10vh;
  margin-bottom: 10vh;
  flex-shrink: 0;
}

.container_box {
  max-width: 1170px;
  width: 90%;
  margin: 0 auto;
}

@media only screen and (max-width: 1060px) {
  .container_box {
    max-width: 90%;
  }
}
@media only screen and (max-width: 767px) {
  .container_box {
    max-width: 100%;
    width: 100%;
    margin: 0;
    box-shadow: none;
  }

  .container_context {
    box-shadow: none;
    border-radius: 0;
  }
}
.container_context {
  min-height: 600px;
  padding: 120px 10%;
}

.container_context:hover {
  box-shadow: 5px 10px 15px 1px rgba(0, 0, 0, 0.2),
    0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
}

.contentShift {
  transition: all 0.5s ease-out;
}
.container_shiftLeft {
  composes: contentShift;
  margin-left: 320px;
  width: calc(100% - 320px);
}

.container_shiftRight {
  composes: contentShift;
  margin-left: 0;
  width: 100%;
}
