.ribbon {
  width: 100%;
  height: 80vh;
  background-color: #345a6c;
  background: url(./ribbon.jpg) center / cover;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.t_container {
  max-width: 960px;
  color: #fff;
  display: flex;
  margin: auto;
}
.t_title {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-size: 2em;
  font-weight: bold;
}

.t_sub {
  font-size: 1.513rem;
  font-weight: lighter;
}
