.container {
  position: fixed;
  transition-property: opacity, bottom;
  -webkit-transition: all 600ms cubic-bezier(0.86, 0, 0.07, 1);
  transition: all 600ms cubic-bezier(0.86, 0, 0.07, 1);
}
.container_hide {
  right: 30px;
  bottom: -60px;
  opacity: 0;
}
.container_show {
  right: 30px;
  bottom: 60px;

  opacity: 1;
}

.btn:hover {
  background-color: #e40251;
}
